.all{
    background-color: black;
    color: white;
}
button{
    width: 250px;
    height: 80px;
    background-color: blue;
    border: 1px solid white;
    color: white;
    transition: all 0.5s;
}
button:hover{
    background-color: green;
}